[Desktop Entry]
Version=1.0
Categories=Web Applications;
Exec=sh -c 'hurl --help; $SHELL'
Icon=/usr/share/icons/snoopgod/default.png
Name=HURL
Terminal=true
Type=Application
