Package: crowbar
Version: 1.0.1
Priority: optional
Architecture: amd64
Maintainer: SnoopGod <contact@snoopgod.com>
Description: Crowbar is a brute forcing tool that can be used during penetration tests.
