[Desktop Entry]
Version=1.0
Categories=Forensics;
Exec=sh -c 'pdfid --help; $SHELL'
Icon=/usr/share/icons/snoopgod/default.png
Name=PDF Identity
Terminal=true
Type=Application
