[Desktop Entry]
Version=1.0
Categories=Information Gathering;
Exec=sh -c 'enum4linux; $SHELL'
Icon=/usr/share/icons/snoopgod/enum4linux.png
Name=Enum4Linux
Terminal=true
Type=Application
