Package: trufflehog
Version: 3.78.1
Priority: optional
Architecture: amd64
Maintainer: NeosLab <info@neoslab.com>
Description: Trufflehog is an utitlity to search through git repositories for secrets, digging deep into commit history and branches.
