[Desktop Entry]
Version=1.0
Categories=Utilities;
Exec=sh -c 'ridenum --help; $SHELL'
Icon=/usr/share/icons/snoopgod/default.png
Name=Ridenum
Terminal=true
Type=Application
