[Desktop Entry]
Version=1.0
Categories=Sniffing - Spoofing;
Exec=/usr/bin/java -jar /opt/snoopgod/sniffing-spoofing/webscarab/webscarab.jar
Icon=/usr/share/icons/snoopgod/webscarab.png
Name=Webscarab
Terminal=false
Type=Application
