[Desktop Entry]
Version=1.0
Categories=Stress Testing;
Exec=sh -c 'rtpflood --help; $SHELL'
Icon=/usr/share/icons/snoopgod/default.png
Name=RTP Flood
Terminal=true
Type=Application
