[Desktop Entry]
Version=1.0
Categories=Stress Testing;
Exec=sh -c 'iaxflood --help; $SHELL'
Icon=/usr/share/icons/snoopgod/default.png
Name=IAX Flood
Terminal=true
Type=Application
