[Desktop Entry]
Version=1.0
Categories=Information Gathering;
Exec=sh -c 'subfinder --help; $SHELL'
Icon=/usr/share/icons/snoopgod/default.png
Name=SubFinder
Terminal=true
Type=Application
