Package: myst
Version: 1.29.23
License: GPL-3.0
Vendor: MysteriumNetwork
Architecture: amd64
Maintainer: <root@fv-az585-289>
Installed-Size: 49311
Depends: openvpn (>= 2.4.0), resolvconf, ca-certificates, iptables, iproute2, sudo, debconf, wireguard
Section: default
Priority: optional
Homepage: https://mysterium.network/
Description: Mysterium Node for decentralised VPN Network
