Package: netexec
Version: 1.2.0
Priority: optional
Architecture: amd64
Maintainer: SnoopGod <contact@snoopgod.com>
Description: NetExec (AKA nxc) is a network service exploitation tool that helps automate assessing the security of large networks.
