Package: ngrok
Version: 3.0.0
Priority: optional
Architecture: amd64
Maintainer: NeosLab <info@neoslab.com>
Description: Ngrok combines your reverse proxy, firewall, API gateway, and global load balancing to deliver apps and APIs.
