Package: mitmdump
Version: 10.3.1
Priority: optional
Architecture: amd64
Maintainer: NeosLab <info@neoslab.com>
Description: Mitmdump is your swiss-army knife for debugging, testing, privacy measurements, and penetration testing.
