Package: sublist3r
Version: 1.1-4
Architecture: all
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Original-Maintainer: Debian Security Tools <team+pkg-security@tracker.debian.org>
Installed-Size: 1898
Depends: python3-dnspython, python3-requests, python3 (>= 3.2) | python3 (<< 2.7) | python3 (>> 2.8), python3:any
Section: net
Priority: optional
Homepage: https://github.com/aboul3la/Sublist3r
Description: Fast subdomains enumeration tool for penetration testers
 This package contains a Python security tool designed to enumerate subdomains
 of websites using OSINT. It helps penetration testers and bug hunters collect
 and gather subdomains for the domain they are targeting over the network.
 Sublist3r enumerates subdomains using many search engines such as Google,
 Yahoo, Bing, Baidu, and Ask. Sublist3r also enumerates subdomains using
 Netcraft, Virustotal, ThreatCrowd, DNSdumpster, and ReverseDNS.
 .
 Subbrute was integrated with Sublist3r to increase the possibility of finding
 more subdomains using bruteforce with an improved wordlist.
