Package: goldeneye
Version: 1.2.1
Priority: optional
Architecture: amd64
Maintainer: SnoopGod <contact@snoopgod.com>
Description: GoldenEye is a HTTP DoS Test Tool. This tool can be used to test if a site is susceptible to Deny of Service (DoS) attacks.
