[Desktop Entry]
Version=1.0
Categories=Hardening;
Exec=sh -c 'd2j-std-zip --help; $SHELL'
Icon=/usr/share/icons/snoopgod/default.png
Name=D2J Std-ZIP
Terminal=true
Type=Application
