[Desktop Entry]
Version=1.0
Categories=Utilities;
Exec=sh -c 'ngrok --help; $SHELL'
Icon=/usr/share/icons/snoopgod/ngrok.png
Name=Ngrok
Terminal=true
Type=Application
