[Desktop Entry]
Version=1.0
Categories=Forensics;
Exec=sh -c 'ddrescue --help; $SHELL'
Icon=/usr/share/icons/snoopgod/default.png
Name=DD Rescue
Terminal=true
Type=Application
