[Desktop Entry]
Version=1.0
Categories=Networking;
Exec=sh -c 'pwnat -h; $SHELL'
Icon=/usr/share/icons/snoopgod/default.png
Name=PW-Nat
Terminal=true
Type=Application
